
.player-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

iframe{
    user-select: none;
    border-radius: 20px;
    border: 2px solid #ffe136;
    box-shadow: 0 0 10px #000000;
    
    background-color: #000000;
    transition: 0.5s ease;
    max-width: 1200px;
    height: 600px;
    width: 100%;
    
}