.content-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
.container{
  display: flex;
   flex-direction: row;
   position: relative;
   justify-content: center;
  overflow: auto;
  width: 100%;
   gap: 5px;
}

.poster {
  width: 30vh;
  height: 100vh;
  object-fit: cover;
  background-size: cover;
  background-clip: content-box;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: filter 0.5s ease-in-out,transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.names{
  display: none;
}

.title{
  font-size: 200px;
 }


@media (max-width: 788px) {
.container{
  flex-direction: column;


.names{
  display: flex;
  justify-content: center;
  align-items: center;
color: rgb(255, 255, 0);
font-size: 50px;
font-family: 'Amatic SC', sans-serif;
}

.poster{
  width: 30vh;
  height: 20vh;
  filter: grayscale(0%);
  object-fit:none;
  background-size: cover;
  background-clip: content-box;
  background-repeat: repeat;
  
}}
.title{
  font-size: 150px;
 }

}

@media (max-width: 510px) {
   
  
   .title{
    font-size: 90px;
   }
   
   
.container{

  .poster {
    width: 20vh;
    height: 15vh;
  }
}
 
}
