.change{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
     position: relative;

}
.Nav-Buttons{
     font-size: 5vw;
    cursor: pointer;
}

@media (max-width: 930px){
    .Nav-Buttons{
        font-size: 10vw;
    }
    
}