@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");


.Slider-container {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: hidden;
    position: relative;
    gap: 20px;
    padding: 20px;
    scrollbar-width: none; 
    justify-content: space-evenly;
  }

  .scroll-button {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background: transparent;
      cursor: pointer;
      border: none;
      border-radius: 50%;
      padding: 0.5rem;
      font-size: 2.5rem;
     z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
   }
  
  .scroll-button.left {
    left: -15px;
    color: black;
  }

  .scroll-button.right {
    right: -15px;
    color: black;
  }
  
  .Season-cards-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 1rem;
    padding: 1rem 0;
    -ms-overflow-style: none;  
    scrollbar-width: none;   
  }
  
  .Season-cards-container::-webkit-scrollbar {
    display: none;  
  }



.Season-cards{
  background-image: url('../../../assest/Shinchan-assests/Season_img.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3.55rem;
  border-radius: .375rem;
  cursor: pointer;
   border: 1px solid rgba(215, 44, 44, 0.2);  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
  transition: transform 0.2s, box-shadow 0.2s;  
  backdrop-filter: blur(10px);  
  height: 4rem;
  width: 20px;
   display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
    
} 

.Season-cards:hover{
  transform: translateY(-5px); 
  box-shadow: 0 8px 16px rgba(5, 0, 0, 0.2); 
 }
 
.Season-heading {
  font-family: 'Amatic SC', sans-serif;
  font-size: 8rem;
  color: #f7ff03; 
  display: inline-block;
  position: relative;
  margin:2px;
  font-weight: 600;
 }

.Season-Text {
  font-size: 8rem;
  overflow: hidden;
  margin: 0%;
  color: #F7CA05;
  text-shadow: 0 10px 7px rgba(0,0,0,0.4),0 -10px 1px #f70707;
  letter-spacing: -3px;
  position: absolute;
  top:30px;
  left: 20px;
  justify-content: center;
  align-items: center;
 }
.Season-Text:hover {
  animation: glitch .3s linear infinite;
  cursor: pointer;
}


 @keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}


 @media (max-width: 930px){
  
  .Season-Text{
       font-size: 8rem;
      color: #9864eb;   }
   
  
}

@media (max-width: 566px){
  
  .Season-Text{
    font-size: 8rem;
    color: #51adc9;  
  }
    
  
  
}

@media (max-width: 450px){
  
  .Season-Text{
    font-size: 3rem;
    color: #fef720;    
  }
  .Season-heading{
    font-size: 3rem;
    color: #efff5c;
   }
  .Season-container{
      flex-direction: column;
      margin-top: 75px;
  }

  .Season-cards-container{
      width: 90%;
      height: auto;
      justify-content: space-evenly;
  }
  
.Season-cards{
  padding: 1.55rem;
  height: 2rem;
  width: 20px;
} 
.scroll-button {
    font-size: 1.5rem;
 }
 .scroll-button.left {
  left: 0px;
  color: black;
}

.scroll-button.right {
  right: 0px;
  color: black;
}
 
}


