body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('./assest/shinchan.jpg');
    background-size: cover;
    background-color: #000000;
    background-repeat: repeat;
   overflow-x: hidden;
   word-wrap: break-word;
}
body::before{ 
    background: linear-gradient(rgba(0, 0, 0, 0), #000 55%);
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    z-index: -1;
}
.input-fields {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
    
}

.input-fields input {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
   
    
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    vertical-align: baseline;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: .16px;
    border-radius: 0;
    outline: 2px solid transparent;
    outline-offset: -2px;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #8d8d8d;
    background-color: #f4f4f40c;
    padding: 0 16px;
    color: #ffffff;
    transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9);  
    :focus{
        outline: 2px solid #0f62fe;
        outline-offset: -2px;
    }


}

.input-fields button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-fields button:hover {
    background-color: #2980b9;
}
 
.player-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}
 

.thumbnail_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    padding: 20px;
}

.cards{
    
    flex: 1 1 calc(33.33% - 20px);
     margin: 10px; /* Margin around each card */
      background-color: #f8f9fa;
      border: 1px solid #ddd;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fav-list {
    margin-top: 20px;
    padding: 10px;
    max-width: 350px;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect for glassmorphism */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
.button:active {
    transform: translateY(1px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}
.move-left {
    transform: translateX(-5px); 
    transition: transform 0.5s ease-in-out;  
}
.Season-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    margin-top: 55px;
   
}

svg{
    
    height: 0px;
}

button{

    
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 20px ;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(90deg, #6ff7e8, #1f7ea1,#ea98da);
    cursor: pointer;
    max-width: 200px;
    width: 100%;
    font-size: 20px;
    font-variant: small-caps; 
    transition: 0.5s ease-in-out;
    user-select: none;
}
button:hover
{
    background-image: linear-gradient(90deg,#caefd7, #f5bfd7, #abc9e9)
    
     
}

.point{
    cursor: pointer;
}

iframe{
    user-select: none;
    border-radius: 20px;
    border: 2px solid #ffe136;
    box-shadow: 0 0 10px #000000;
    
    background-color: #000000;
    transition: 0.5s ease;
    max-width: 1200px;
    height: 600px;
    width: 100%;
    
}

@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');
h1 {
    font-size:11vw;
    white-space: nowrap;
    overflow: hidden;
   
    color: #F7CA05;
    text-shadow: 0 10px 7px rgba(0,0,0,0.4),0 -10px 1px #f70707;
    letter-spacing: -3px;
  }
  
  h1:hover {
    animation: glitch .3s linear infinite;
    cursor: pointer;
  }
  
  @keyframes glitch {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, 2px);
    }
    80% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }

.heading{
   
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;  
    text-align: center;
    
   }

@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");

h2 {
  font-family: 'Amatic SC', sans-serif;
  font-size: 8vw; /* Adjust the size as needed */
  color: #f7ff03; /* Tomato color */
  display: inline-block;
  position: relative;
  margin:2px;
  font-weight: 600;

  animation: squiggle 1.5s infinite ease-in-out;
}

@keyframes squiggle {
  0%, 100% {
    filter: url("#squiggly-0");
  }
  25% {
    filter: url("#squiggly-1");
  }
  50% {
    filter: url("#squiggly-2");
  }
  75% {
    filter: url("#squiggly-3");
  }
}


.fav{
    
    margin: 10px;
    cursor: pointer;
     
    transition: transform 0.2s, box-shadow 0.2s;  
    text-align: center;
    justify-items: center;
    font-size: 50px;
}

.fav:hover{
    transform: translateY(-5px);  
    box-shadow: 0 8px 16px rgba(201, 33, 33, 0.2);  
}

.change{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

p{
    font-size: 20px;
}
 
.Slider-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: hidden;
      position: relative;
    gap: 20px;
    padding: 20px;
     
    scrollbar-width: none; 
    justify-content: space-evenly;
    max-width: 1000px;  
    width: 70%;
       
}
.Season-cards-container{
    display: flex;
    transition: transform 0.3s ease-in-out;
    
    
}
.Season-cards{
    background-image: url('../src/assest/Season_img.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2.25rem;
    width:100px;
    border-radius: .375rem;
    cursor: pointer;
    height: 3rem;
    border: 1px solid rgba(215, 44, 44, 0.2);  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    transition: transform 0.2s, box-shadow 0.2s;  
    backdrop-filter: blur(10px);  
    height: 3rem;
    width: 100px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
     
} 

.fsize{
font-size: 4vw;
} 

 .swipe-container {
      display: flex;
      align-items: center;
        justify-content: center;
    }
    
    .swipe-text {
        margin-right: 10px;
        font-size: 3vw;

        font-family: 'Roboto', sans-serif;
        font-weight: light;
         
    }

    .arrow {
      display: inline-block;
     
      font-family: 'Roboto', sans-serif;
      font-weight: light;
      font-size: 3vw;
      position: relative;
      animation: slideRight 1s ease-in-out infinite;
    }

    @keyframes slideRight {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(10px);
      }
      100% {
        transform: translateY(0);
      }
    }

.Episode-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-height: 580px;  
    overflow-y: auto; 
    max-width: 100%; 
    scrollbar-width: none;  
}

.Episode-cards{
    display: flex;
    padding: .25rem;
    border-radius: .375rem;
    cursor: pointer;
    max-width: 20%;
    height: 40% ;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Light border with transparency */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition for hover effects */
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect for glassmorphism */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
}
 .Episode-cards:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 8px 16px rgba(204, 31, 31, 0.2); /* Enhanced shadow on hover */
}
.Season-cards:hover{
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 8px 16px rgba(204, 31, 31, 0.2); /* Enhanced shadow on hover */
}
.Episode-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: .375rem; 
   
}
 
h3{
    font-size: 1.25rem; /* Set a larger font size for the heading */
    font-weight: 600; /* Make the heading bold */
    color: #fdfdfdea; /* Dark grey color for the heading */
    margin: 0.5rem 0; /* Add some margin above and below the heading */
    text-align: center; 
    margin: 0.5rem 0; /* Add some margin above and below the heading */
    text-align: left; /* Align text to the left */
    position: absolute; /* Position the text absolutely */
    top: 10px; /* Position from the top */
    left: 10px; /* Position from the left */
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for text */
    padding: 5px 10px; /* Padding around the text */
    border-radius: 50%;
}

h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 0.9rem; /* Small and minimalist */
    color: rgb(0, 0, 0); /* White text for contrast */
    text-align: center;
    padding: 10px;
    text-shadow: #ffffff  0 0 2px;
    line-height: 1.4;
}

.loader{
    background-image: url('./assest/loading.gif');
}
.loading{
    max-width: 400px;
    margin: 20px;
    height: 400px;
    
}

@media (max-width: 930px){
    body{
        background-image: url('./assest/shinchan3.jpg');
        background-size: cover;
    }
    input{
        max-width: 200px;
    }
    iframe{
     max-width: 600px;
     width: 100%;
     height: 400px;
     transition: 0.5s ease;     
    
    }
    h1{
         font-size: 20vw;
        color: #9864eb;   }
    h2{
        font-size: 12vw;
    }
    
}
@media (max-width: 566px){
    body{
        background-image: url('./assest/shinchan4.jpeg');
        background-size: cover;
    }
    input{
        max-width: 200px;
    }
    iframe{
        width: 400px;
         height: 300px;
         transition: 0.5s ease;
    }
    h1{
        
        
        font-size: 20vw;
        color: #51adc9;
         
    }
    h2{
        font-size: 12vw;
        
    }
    
}
@media (max-width: 450px){
    body{
        background-image: url('./assest/shinchan1.jpg');
        background-size: cover;
        background-repeat: repeat;
        background-color: #3654ff;
        min-height: 100vh;
    }
    input{
        max-width: 150px;
    }
    
    
.Episode-cards{ 
    max-width: 40%; 
}
    button{
        margin: 10px;
        width: 30%;
        background-image: linear-gradient(90deg,#caefd7, #f5bfd7, #abc9e9);
    }
    iframe{
         max-width: 300px;
       height: 300px;
       width: 100%;
    }
    h1{
        font-size: 24vw;
        color: #fef720;    
    }
    h2{
        font-size: 12vw;
        color: #efff5c;
        text-shadow: rgb(0, 0, 0) 0 0 5px;
    }
    .Season-container{
        flex-direction: column;
        margin-top: 75px;
    }
    .Season-cards-container{
        width: 90%;
        height: auto;
        justify-content: space-evenly;
    }
    .heading{
     
    color: #f6ff4d;  
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;  
    text-align: center;  
     
    }
    .Texts
    {
        display: flex;
        flex-direction: row;
    }
    .fav::after{
        display: none;
    }
    .fav-list{
        flex-direction: column;
        width: 300px;

    }
    
    .move-left {
         transform: translateX(0px); ;
        transition: transform 0.5s ease-in-out;  
    }
    .error-gif{
        width: 100%;
        height: 100%;
    }
    .fav{
        height: 80px;
        width: 80px;
        transition: background-color 0.3s ease, transform 0.2s;
    }
    .loading{
        max-width: 200px;
        height: 200px;
        margin: 10px;
    }
}
 

