body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;

}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      background-size: cover;
    background-position: center;
     z-index: -1;
}

.fade{
    animation: fadeInAnimation 10s ease-in-out forwards;
  }
  
   @keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .snowflake {
    --size: 1vw;
    width: var(--size);
    height: var(--size);
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -5vh;
  }
  
 
.video-container {
    position: relative;
  width: 100%;
  height: 100vh;  
  overflow: hidden;
 }

 .video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;  
  }

  .content {
    position: relative;
    z-index: 1;  
    color: white;
    text-align: center;
    padding-top: 20vh;  
  }
 