
.shin-container,.shiro-container,.gaster-container,.how-container{
    display: grid;
 grid-template-columns: repeat(12, minmax(50px,75px));  
    gap: 15px;  
    justify-content: center;
    height: 90vh;
    background-color: #FFFF7E;
    padding-top: 40px;
    scroll-behavior: smooth;
    }

/* utility color class */
         
.title{
    
     
    font-size: 80px;
    font-family: 'Outfit', sans-serif;
    font-weight: bolder;
    text-transform: capitalize; 
    word-wrap: break-word;
    position: relative;
}
.shin-title,.gaster-title{
    grid-column: 1/span 6;
    align-self: center; 
}
.shiro-title{
    align-self: center;
}
.how-title{
    
    font-size: 110px;
}

.img1{
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    position: relative;
    grid-column: 7/span 6;
    align-self: center; 
    
}
.img2{
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    position: relative;
    grid-column: 1/span 5;
    grid-row: 1;
    align-self: center; 
}
.img3{
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    position: relative;
    grid-column: 8/span 5;
    align-self: center; 
    
}


.medium-text{
font-family: 'Outfit';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 30px;
text-transform: capitalize;
color: #D7211F;
word-wrap: break-word;
}
.text{
    grid-column: 8/span 5;
    align-self: center;

}
.text1,.text3{
    
    grid-column: 1/span 6;
   
    align-self: center; 
}
.text2{
    display:grid;
    grid-column: 3/span 8;
    align-self: center; 
}
.btn{
    
width: 219px;
height: 77px;
font-family: 'Outfit';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 30px;
text-transform: capitalize;
color: #D7211F;

background: #CADBFF;
border-radius: 50px;
justify-self: center;
}
.small-text{
    
font-family: 'Outfit';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 30px;
text-transform: capitalize;
color: #D7211F;



}
.one{
    background-color: #D7211F;
    color: #FFFF7E;
}
.red{
    color: #D7211F;
}
.yellow{
    color: #FFFF7E;
}

.spacer{
    aspect-ratio: 960/150;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 100;
}

.layer{
    background-image: url('../assest/waves.svg');
}

.layer2{
    background-image: url('../assest/wavey.svg');    
}

.layer3{
    background-image: url('../assest/wave3.svg');    
}

.layer4{
    background-image: url('../assest/wave4.svg');    
}



@media (max-width: 1024px){
    .title{
        font-size: 70px;
    }

    .how-title{
    
        font-size: 100px;}
    .medium-text{
        font-size: 20px;
    }
    
}

@media (max-width: 780px){
    
    .mobile-hero{
        grid-template-columns: repeat(12, minmax(30px,55px));
        gap: 5px;  
        height: 90vh;
        padding-top: 10px;
    }

    .text,.text3{
        row-gap: 10px;
    }

    .mobile-hero-one{
        grid-template-columns: repeat(12, minmax(30px,55px));  
        gap: 5px;  
        height: 90vh;
        padding-top: 10px;
    }
    
    .title{
        font-size: 60px;
    }


    .btn{
        width: 140px;
        height: 65px;
        font-size: 23px;
        line-height: 13px;
    }
    .medium-text{
        font-size: 20px;
        line-height: 20px;
        word-wrap: break-word;
        }
}

@media (max-width: 540px){
    
    .title{
        font-size: 45px;
    }

    .medium-text{
        font-size: 16px;
        line-height: 16px;
        word-wrap: break-word;
        }
}

@media (max-width: 495px){
    .desktop{
        display: none;
    }
    
    .mobile-hero{
        display: grid;
        grid-template-columns: repeat(12, minmax(15px,30px));
        align-content: space-evenly; 
        gap: 2px;  
        justify-content: center;
        height: 90vh;
        background-color: #FFFF7E;
        padding-top: 10px;
        scroll-behavior: smooth;
        
    }

    .img1{
        
        grid-column: 3 / span 8;
        grid-row: 1;
         
    }
    .img2{
        grid-column: 3 / span 8;
        grid-row: 1;
        align-self: center; 
    }
    .img3{
        grid-column: 3 / span 8;

        align-self: center; 
        
    }

    .text1{
        grid-column: 1/span 12;
        grid-row: 2;
        align-self: center; 
        display: flex;
        align-items: center;
    }


    .text,.text3{
        grid-column: 1/span 12;
        grid-row: 2;
        align-self: center; 
        display: flex;
        align-items: center;
        row-gap: 10px;
        flex-direction: column;
    }

    .mobile-hero-one{
        background-color: #D7211F;
        display: grid;
        grid-template-columns: repeat(12, 30px);  
        gap: 2px;  
        justify-content: center;
        height: 90vh;
        padding-top: 10px;
        scroll-behavior: smooth;
         
    }
    
    .title{
        font-size: 50px;
        text-align: center;
        
    }
    .btn{
        width: 100px;
        height: 40px;
        font-size: 15px;
        line-height: 15px;
        align-self: center;
    }
    .medium-text{
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 16px;
        text-transform: capitalize;
        text-align: center;
        }
        .w1{
            grid-column: 2 / span 10;
          
            text-align: center
        }
        
        .w2{
            
            grid-column: 2 / span 10;
        }

        .w3{
            
            grid-column: 1 / span 12;
        }
}



@media (max-width: 411px){
    
    .mobile-hero{
        grid-template-columns: repeat(12, minmax(10px,25px));
        gap: 1.5px;  
        height: 90vh;
        padding-top: 7px;
    }

    .text,.text3{
        row-gap: 7px;
    }

    .mobile-hero-one{
        grid-template-columns: repeat(12, minmax(10px,25px));  
        gap: 1.5px;  
        height: 90vh;
        padding-top: 7px;
    }
    
    .title{
        font-size: 30px;
    }


    .btn{
        width: 80px;
        height: 35px;
        font-size: 13px;
        line-height: 13px;
    }
    .medium-text{
        font-size: 14px;
        line-height: 14px;
        word-wrap: break-word;
        }
}