.shin{
    font-family: 'Outfit', sans-serif;
    font-size: 40px;
    color: #D7211F;
    word-wrap: break-word;
    font-weight: 700;
    position: relative;
    text-decoration: none;
    grid-column: span 4;
}
.links{
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    color: #D7211F;
    word-wrap: break-word;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    
}
.l1{
    grid-column: 10/span 1;
}
.l2{
    grid-column: span 1;
}
.l3{
    grid-column: span 1;
}


.navbar{
    display: grid;
    grid-template-columns: repeat(12, minmax(50px,75px));  
    gap: 15px; 
    padding: 40px 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FFFF7E;
    scroll-behavior: smooth;
}
.mob{
    display: none;
}


@media (max-width: 768px){
    
    .mobile{
        display: none;
    }
    nav{ background-color: #FFFF7E;
        scroll-behavior: smooth;}
    .navbar{
        display: flex;
        padding: 20px 0;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        background-color: #FFFF7E;
        scroll-behavior: smooth;
        gap:195px;
         
    }
    
    .shin{
        font-family: 'Outfit', sans-serif;
        font-size: 45px;
        color: #D7211F;
        word-wrap: break-word;
        font-weight: 700;
        position: relative;
        text-decoration: none;
       
    }
     
    .menu-icon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: 1s ease-in-out 0s 1 transform;
    }
    .line{
        width: 25px;
        height: 3px;
        background-color: #D7211F;
        margin: 2px;
    }
    .menu-icon:active{
        transform: scale(0.9);
        
    }
    
    .sidebar{
        align-items: center;
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100vh;
        max-width: 250px;
        width: 100%;
        background-color: #d7221f;;
        box-shadow: -7px 0px 10px rgba(0, 0, 0, 0.5);
         
        top: 0;
        right: 0;
        z-index: 999;
        justify-content: space-evenly;
        transition: right 0.5s ease;
    }


    .sidebar1{
        display: none;
        position: fixed;
        height: 100vh;
        max-width: 515px;
        width: 100%;
        background-color: transparent;
        
        backdrop-filter: blur(10px);
        top: 0;
        left: 0;
        z-index: 999;
        
    }

    .active{
        
        display: flex;
    }
    
     
    .links{
        z-index: 999;
        color:#FFFF7E;
        font-size: 50px;
    }
}

@media (max-width: 450px){
    
    .mobile{
        display: none;
    }
    nav{ background-color: #FFFF7E;
        scroll-behavior: smooth;}
    .navbar{
        display: flex;
        padding: 20px 0;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        background-color: #FFFF7E;
        scroll-behavior: smooth;
        gap:195px;
         
    }
    
    .shin{
        font-family: 'Outfit', sans-serif;
        font-size: 30px;
        color: #D7211F;
        word-wrap: break-word;
        font-weight: 700;
        position: relative;
        text-decoration: none;
       
    }
     
    .menu-icon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: 1s ease-in-out 0s 1 transform;
    }
    .line{
        width: 25px;
        height: 3px;
        background-color: #D7211F;
        margin: 2px;
    }
    .menu-icon:active{
        transform: scale(0.9);
        
    }
    
    .sidebar{
        align-items: center;
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100vh;
        max-width: 250px;
        width: 100%;
        background-color: #d7221f;;
        box-shadow: -7px 0px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        top: 0;
        right: 0;
        z-index: 999;
        justify-content: space-evenly;
        transition: right 0.5s ease;
    }


    .sidebar1{
        display: none;
        position: fixed;
        height: 100vh;
        max-width: 215px;
        width: 100%;
        background-color: transparent;
        
        backdrop-filter: blur(10px);
        top: 0;
        left: 0;
        z-index: 999;
        
    }

    .active{
        
        display: flex;
    }
    
     
    .links{
        font-family: 'Outfit', sans-serif;
        font-size: 50px;
        color: #FFFF7E;
        word-wrap: break-word;
        font-weight: 400;
        position: relative;
        text-decoration: none;
    }
}

@media (max-width: 411px){
    .navbar{
        padding: 20px 0;
        gap: 100px;
    }
    
    .shin{
        font-size: 30px;
    }
     
    .line{
        width: 25px;
        height: 3px;
        margin: 2px;
    }
    
    .sidebar{
        max-width: 250px;
    }

    .sidebar1{
        max-width: 215px;   
    }
     
    .links{
        font-size: 50px;
    }

}

 